*{
    padding: 0;
    margin: 0;
}
    
    :root {
    --navy-blue: rgb(31, 58, 95);      /* dark navy (main color) */
    --steel-blue: rgb(46, 90, 136);    /* secondary blue */
    --sky-blue: rgb(78, 161, 211);     /* accent */
    --light-gray: rgb(245, 247, 250);  /* background */
    --white: rgb(255, 255, 255);       /* sections */
    --dark-gray: rgb(28, 28, 28);      /* main text */
    --medium-gray: rgb(107, 114, 128); /* secondary text */
    --border-gray: rgb(209, 213, 219); /* borders */
}
    
    body {
       background: var(--light-gray);
       color: var(--dark-gray);
       font-family: 'Segoe UI';
       padding: 0px;
    }

    /* Section Nav */
    nav {
        padding: 10px 0px;
        background: rgb(48, 54, 79);
        color: var(--white);
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    nav a {
    color: var(--white);
    text-decoration: none;
    }

    nav a:hover{
        color: var(--sky-blue);
    }


    /* Section Header */

    header {
        background: var(--navy-blue);
        color: var(--white);
        padding-top:70px;
        padding-bottom:70px;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .headerLine{
        height: 3px;
        width: 120px;
        background: var(--sky-blue);
        margin-top: 0px;
    }

    h1 {
        font-size: 60px;
        color: var(--white);
        margin-bottom: 30px;
    }

    h2 {
        color: var(--steel-blue);
        font-size: 30px;
    }

    section{
        background: var(--white);
        color: var(--dark-gray);
        border: var(--border-gray);
        margin: 80px 100px;
        padding: 20px 40px;
    }

    /* Section About*/

    #about {
        padding: 20px 25px 30px 40px;
        border: 1px solid var(--border-gray);
   }

   #about ul {
    list-style: none;
   }

    .aboutTitle {
    font-size: 30px;
    border-bottom: 3px solid var(--sky-blue);
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
   }

   #about p{
    margin-top: 20px;
   }


   /* Section Experience*/

   
   #experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;  
        margin-top: 0px;
        border: 1px solid var(--border-gray);
    }

    #experience ul {
        border-top: 3px solid var(--sky-blue);
        display: flex;
        list-style: none;
        margin-top: 0px;
        flex-direction: column;
    }

    #experience li {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 12px 30px;
        margin-bottom: 15px;
        margin-right: 40px;
    }

   
    /* Section Skills*/

    #skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;  
        margin-top: 0px;
        border: 1px solid var(--border-gray);
    }

    #skills ul {
        list-style: none;
        border-top: 3px solid var(--sky-blue);
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 0px;
    }

    #skills li {
        border: 1px solid var(--steel-blue);
        background: rgb(196, 220, 236);
        margin: 10px 5px;
        padding: 12px 30px;
        border-radius: 5px;
    }


    /* Section Projects*/
    
     #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;  
        margin-top: 0px;
        border: 1px solid var(--border-gray);
    }

    #projects ul {
        list-style: none;
        border-top: 3px solid var(--sky-blue);
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 0px;
        padding-top: 15px;
    }

    #projects ul li {
        border: 1px solid var(--border-gray);
        background: var(--white);
        margin: 5px 0;
        padding: 12px 30px;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

    #projects ul li a {
        text-decoration: none;
        color: var(--steel-blue);
    }
    

    #projects ul li:hover {
        transform: translateY(-3px);
        border-color: var(--sky-blue);
    }


    /* Section Skills*/

     #skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 20px 5px 30px 40px;
        margin: 80px 100px;
        margin-bottom: 50px;  
        margin-top: 0px;
        border: 2px solid var(--brown);
    }
     

    /* Section Projects*/

    #connect ul{
        list-style: none;
        border-top: 3px solid var(--sky-blue);
        padding-top: 15px;
    }


    /* Section Connect*/

     #connect {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      margin-bottom: 30px;  
      margin-top: 0px;
      border: 1px solid var(--border-gray);
      background-color: var(--white);
    }

    #connect li {
        border: 1px solid var(--border-gray);
        background:var(--white);
        margin: 10px 5px;
        padding: 12px 30px;
        border-radius: 10px;
        width: fit-content;
        transition: all 0.3s ease;
    }

    #connect li:hover {
        transform: translateY(-3px);
        border-color: var(--sky-blue);
    }

    #connect ul li a{
        text-decoration: none;
        color: var(--steel-blue);
    }
    

    /* Section Leave a Message*/

    #leaveMessage {
        background: var(--white);
        list-style: none;
        border-bottom: 1px solid var(--sky-blue);
        margin-top: 0px;
        border: 1px solid var(--border-gray);
    }

    #leaveMessage h2 {
        border-bottom: 3px solid var(--sky-blue);
        padding-bottom: 10px;
        gap: 10px;
    }

    #leaveMessage form {
        background: var(--light-gray);
        padding: 25px;
        border-radius: 10px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 600px;
        margin: 25px auto 0;
    }


    #leaveMessage form label{
      display: flex;
      flex-direction: column;
      color: var(--dark-gray);
      gap: 5px;
      padding: 0px;
      margin: 0px;
      margin-bottom: 30px;  
      margin-top: 0px;
      width: 100%;
    }

    #leaveMessage form input {
        padding: 10px;
        border: 1px solid var(--border-gray);
        border-radius: 5px;
        width: 100%;
    }

    #leaveMessage form textarea {
        margin-top: 10px;
        border: 1px solid var(--border-gray);
        padding: 10px;
        border-radius: 5px;
        min-height: 120px;
    }

    #leaveMessage button{
        padding: 12px 30px;
        border: none;
        border-radius: 55px;
        background: var(--steel-blue);
        color: var(--white);
        width: fit-content;
        transition: all 0.3s ease;
    }

    #leaveMessage button:hover{
        background: var(--sky-blue);
        transform: translateY(-3px);
    }

    /* Section Message*/

    #messages {
        background: var(--white);
        list-style: none;
        border-bottom: 3px solid var(--sky-blue);
        padding: 20px 5px 30px 40px;
        margin: 0px 100px 50px;
        border: 1px solid var(--border-gray);
    }

    #messages h2 {
        border-bottom: 3px solid var(--sky-blue);
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    #messages ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #messages li {
        list-style: none;
        background: var(--white);
        border: 1px solid var(--border-gray);
        border-left: 4px solid var(--sky-blue);
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 18px;
        align-self: flex-start;
        width: fit-content;
        max-width: 70%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }

   


    footer {
        text-align: center;
        padding: 20px 20px;
        background: var(--steel-blue);
        color: var(--white);
    }





